body {
  background: linear-gradient(to bottom, #f05050 0%, #903030 100%);
  font-family: arial, sans-serif;
  text: black;
}
table.main {
  margin: auto;
  width: 1100px;
  height: 100%;
  table-layout: fixed;
}
table.main td {
  background: white;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
}
td#publisher {
  height: 40px;
}
td#title {
  height: 80px;
  font-size: larger;
  font-weight: bold;
}
td#creators {
  height: 80px;
}
tr.misc {
  height: 40px;
  vertical-align: middle;
}
tr.misc td {
  text-align: center;
}
td#text {
  height: 300px;
}
td#variants {
  height: 150px;
}
td#cover {
  width: 500px;
  text-align: center;
}

td#options {
  width: 150px;
  word-wrap: none;
}

tr {
  vertical-align: top;
}

table.actions {
  height: 100%;
  width: 100%;
}

table.actions td {
  background: #c0c0c0;
}
td#next {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
td#prev {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

td#export {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

td.first {
  background: #40a040 !important;
}

div.variant {
  display: block;
  font-weight: bold;
  cursor: pointer;
}

select {
  width: 120px;
}
td.first-publisher {
  font-weight: bold;
}
input[type=checkbox] {
  margin-right: 1ex;
}
